<ion-header>
	<ion-navbar class="sense8-navbar">
		<ion-title>Issues reported</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<div padding-left>
		<h1><b>Open reports</b></h1>
	</div>
	<ion-card>
		<ion-list *ngFor="let report of openIssuesList()">
			<ion-item (click)="displayIssueDetails(report.id)">
				<ion-thumbnail item-start>
					<img src="assets/imgs/issues/{{ reportService.iconFor(report.report_kind) }}">
				</ion-thumbnail>
	      <h2>{{ reportService.humanizedType(report.report_kind) }}</h2>
	      <p>{{ report.message }}</p>
				<button ion-button clear item-end>View</button>
			</ion-item>
		</ion-list>
	</ion-card>

	<div padding-left>
		<h1><b>Closed reports</b></h1>
	</div>
	<ion-card>
		<ion-list *ngFor="let report of closedIssuesList()">
			<ion-item (click)="displayIssueDetails(report.id)">
				<ion-thumbnail item-start>
					<img src="assets/imgs/issues/{{ reportService.iconFor(report.report_kind) }}">
				</ion-thumbnail>
	      <h2>{{ reportService.humanizedType(report.report_kind) }}</h2>
	      <p>{{ report.message }}</p>
				<button ion-button clear item-end>View</button>
			</ion-item>
		</ion-list>
	</ion-card>
</ion-content>
