page-home {
  ion-card {
    position: relative;
    text-align: center;
		margin-top: 20px !important;
		margin-bottom: 20px !important;
  }
	
	.section-card {
		height: 230px !important;
		border-radius: 1px;
		background-color: #f0f0f0;
		
		h2 {
		  height: 28px;
		  font-family: Helvetica;
		  font-size: 23px;
		  font-weight: bold;
		  text-align: center;
		  color: #3e3e40;
		  color: var(--charcoal-grey);
		}
		
		.bubble {
			position: absolute;
			right: 30px;
			bottom: 10px;
			width: 34px;
		  height: 34px;
		  background-color: #cd0037;
			border-radius: 16px;
			font-size: 27px;
			font-weight: bold;
			color: white;
		}
	}

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }
	
	.mini-box-icon {
		margin-top: 10px;
		width: 150px;
		height: 150px;
		margin-left: auto;
		margin-right: auto;
	}
	
	.card-background-page {
		margin-top: 20px !important;
	}
}
