<ion-header>
  <ion-navbar class="sense8-navbar">
    <button ion-button menuToggle>
      <ion-icon name="menu" ></ion-icon>
			<img class="logo" src="assets/imgs/sncf.png"> <span class="product-name">Manager</span>
    </button>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
	<div padding-left padding-bottom>
		<h1><b>Your train, today</b></h1>
	</div>
	
  <ion-card class="section-card" (click)="healthTapped()">
		<ion-grid>
			<ion-row>
			  <ion-col></ion-col>
		    <ion-col col-6 text-center>
		      <img class="mini-box-icon" src="assets/imgs/issues-reported-icon.svg">
					<p class="bubble">{{ openIssuesCount() }}</p>
		    </ion-col>
		    <ion-col></ion-col>
		  </ion-row>
			<ion-row>
		    <ion-col text-center>
					<h2>Issues reported</h2>
		    </ion-col>
			</ion-row>
		</ion-grid>
  </ion-card>
	
  <ion-card class="section-card" (click)="outstandingIssues()">
		<ion-grid>
			<ion-row>
			  <ion-col></ion-col>
		    <ion-col col-8 text-center>
		      <img class="mini-box-icon" src="assets/imgs/security-hex-icon.svg">
		    </ion-col>
		    <ion-col></ion-col>
		  </ion-row>
			<ion-row>
		    <ion-col text-center>
					<h2>Security</h2>
		    </ion-col>
			</ion-row>
		</ion-grid>
  </ion-card>
	
  <ion-card class="section-card">
		<ion-grid>
			<ion-row>
			  <ion-col></ion-col>
		    <ion-col col-8 text-center>
		      <img class="mini-box-icon" src="assets/imgs/feeling-unwell-icon.svg">
		    </ion-col>
		    <ion-col></ion-col>
		  </ion-row>
			<ion-row>
		    <ion-col text-center>
					<h2>Feeling unwell</h2>
		    </ion-col>
			</ion-row>
		</ion-grid>
  </ion-card>

  <ion-card>
    <img src="assets/imgs/issues-45.svg"/>
  </ion-card>

	<ion-card>
	  <ion-card-header text-left>
	    <b>Resolved Issues</b>
	  </ion-card-header>

	  <ion-list *ngFor="let report of solvedIssuesList()">
	    <ion-item>
	      <ion-thumbnail item-start>
	        <img src="assets/imgs/issues/{{ reportService.iconFor(report.report_kind) }}">
	      </ion-thumbnail>
	      <h2>{{ reportService.humanizedType(report.report_kind) }}</h2>
	      <p>{{ report.message }}</p>
	    </ion-item>
	  </ion-list>
		
	</ion-card>


</ion-content>