// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.circle {
		display: block;
    width: 150px;
    height: 150px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
		margin-left: auto;
		margin-right: auto;
}

.footnote {
	font-size: 13px;
}

.padded {
	font-size: 14px !important;
	vertical-align: top;
}

.toolbar-background {
  background-image: linear-gradient(92deg, #851b65, #de000a);
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.14);
}

.sense8-navbar > * {
	color: white !important;
	
	.logo {
		margin-left: 10px;
		height: 18px;
	}
	
	.product-name {
		font-size: 15px;
		text-transform: uppercase;
		margin-left: 5px;
	}
}
