<ion-menu [content]="content">
  <ion-header>
    <ion-navbar class="sense8-navbar">
      <button ion-button menuToggle>
        <ion-icon name="menu" ></ion-icon>
        <img class="logo" src="assets/imgs/sncf.png">
      </button>
      <ion-title></ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <div>
        <ion-grid>
          <ion-row>
            <p></p>
          </ion-row>
          <ion-row>
            <ion-col></ion-col>
            <ion-col col-8 text-center>
              <img class="circle" src="assets/imgs/driver.jpg">
              <h2>John Smith</h2>
              <p>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star-half"></ion-icon>
                <br/><span class="footnote">Based on 120 rankings</span>
              </p>
            </ion-col>
            <ion-col></ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <button menuClose *ngFor="let p of pages" ion-item (click)="openPage(p)">
        <p><b>Route:</b> Bourdeaux <ion-icon name="arrow-round-forward"></ion-icon> Paris</p>
        {{p.title}}
        <span item-end *ngIf="outstandingIssues() > 0">
          <ion-badge color="danger">
            <ion-icon name="alert"></ion-icon> <span class="padded">{{ outstandingIssues() }}</span>
          </ion-badge>
        </span>
      </button>
      <button menuClose ion-item>
        Logout
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
