<ion-header>
  <ion-navbar class="sense8-navbar">
    <ion-title>Report details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
	<div *ngIf="currentReport != null">
		<ion-card>
			<ion-list>
			  <ion-item (click)="displayIssueDetails()">
			    <ion-thumbnail item-start>
			      <img src="assets/imgs/issues/{{ reportService.iconFor(currentReport.report_kind) }}">
			    </ion-thumbnail>
			    <h2>{{ reportService.humanizedType(currentReport.report_kind) }}</h2>
			  </ion-item>
			</ion-list>
		</ion-card>
		<ion-card>
		  <ion-item>
		    <ion-avatar item-start>
		      <img src="assets/imgs/{{ reportService.reporterPic(currentReport.reporter_img_slug) }}">
		    </ion-avatar>
		    <h2>{{ currentReport.reporter }}</h2>
		  </ion-item>
			<ion-item>
			  <ion-label>Submitted on</ion-label>
			  <ion-datetime displayFormat="MMM DD, YYYY HH:mm" [(ngModel)]="currentReport.created_at"></ion-datetime>
			</ion-item>
		  <ion-card-content>
		    <p>{{ currentReport.message }}</p>
		  </ion-card-content>
		</ion-card>
	</div>
	<div padding-left>
		<h1><b>Take action</b></h1>
	</div>
	<ion-card>
	  <ion-list>
	    <button ion-item>
			  <ion-icon name="star" item-start></ion-icon>
	      <b>I'm on my way</b>
	    </button>
	    <button ion-item>
  			<ion-icon name="archive" item-start></ion-icon>
	      <b>Log issue (no action required)</b> 
	    </button>
	    <button ion-item>
			  <ion-icon name="link" item-start></ion-icon>
	      <b>Escalate this issue ...</b>
	    </button>
	    <button ion-item>
			  <ion-icon name="flag" item-start></ion-icon>
	      <b>Report abuse</b> 
	    </button>
	  </ion-list>
	</ion-card>
	<ion-card>
	  <ion-list>
	    <button ion-item detail-none>
	      Seat <b>4B</b>
	    </button>
	  </ion-list>
		<img src="assets/imgs/seat-arrangement.svg">
	</ion-card>
</ion-content>
